
@font-face {
  font-family: 'JosefinSans-Regular';
  src: url('JosefinSans-Regular.eot?#iefix') format('embedded-opentype'),  url('JosefinSans-Regular.woff') format('woff'), url('JosefinSans-Regular.ttf')  format('truetype'), url('JosefinSans-Regular.svg#JosefinSans-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
